[submodule "vim/pack/vendor/start/vim-copy-as-rtf"]
	path = vim/pack/vendor/start/vim-copy-as-rtf
	url = https://github.com/zerowidth/vim-copy-as-rtf.git
[submodule "nvim/lazy/lazy.nvim"]
	path = nvim/lazy/lazy.nvim
	url = https://github.com/folke/lazy.nvim.git
[submodule "nvim/lazy/plugins/onedarkpro.nvim"]
	path = nvim/lazy/plugins/onedarkpro.nvim
	url = https://github.com/olimorris/onedarkpro.nvim.git
[submodule "nvim/lazy/plugins/nvim-tree.lua"]
	path = nvim/lazy/plugins/nvim-tree.lua
	url = https://github.com/nvim-tree/nvim-tree.lua.git
[submodule "nvim/lazy/plugins/nvim-web-devicons"]
	path = nvim/lazy/plugins/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons.git
[submodule "nvim/lazy/plugins/bufferline.nvim"]
	path = nvim/lazy/plugins/bufferline.nvim
	url = https://github.com/akinsho/bufferline.nvim.git
