.DS_Store
vim/.netrwhist
nvim/plugin

# White list
config/*
pi-agent/*

# Directories
!config/alacritty/
!config/atuin/
!config/zellij/
!config/hypr/
!config/waybar/
!config/vicinae/
!config/kitty/
!config/mako/
!pi-agent/extensions/

# Files
!config/okularpartrc
!config/krunnerrc
!pi-agent/models.json
!pi-agent/pi-sub-bar-settings.json
!pi-agent/settings.json
config/hypr/local/*
